.flex {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.header {
	padding: 20px;
	text-align: center;
	background: #f0f0f0;
}
.title {
	margin: 20px 0;
	font-size: 50px;
	color: #4666e0;
}
.desc {
	margin: 20px 0;
	font-size: 1.5em;
}
.doc {
	font-size: 1.3em
}
.container {
	flex: 1;
	width: 70%;
	margin: 0 auto;
	padding: 15px;
}
.content {
	width: 100%;
	height: 200px;
	border: 1px solid #ccc;
}
footer {
	padding: 5px;
	border-top: 1px solid #ccc;
	text-align: center;
}
p {
	line-height: 3;
}